body {
    background: rgb(105,94,164);
    background: repeating-linear-gradient(
        45deg,
        rgba(105,94,164,1) 0%,
        rgba(122,122,218,1) 32%,
        rgb(46, 73, 87) 100%
    );
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color:unset;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(240, 240, 240);
}

nav {
    color: magenta;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav * {
    display: flex;
    margin: 16px;
}

nav .right {
    justify-content: space-between;
}

section h1 {
    color: rgb(239, 187, 195);
}

section h2 {
    color: cyan;
}

section h3 {
    color: cyan
}

section {
    color: rgb(254, 255, 234);
}

ul {
    list-style-type: circle;
    color: rgb(231, 231, 202);
}

li::marker {
    color: rgb(255, 188, 62)
}

.repo-name {
    color: blue;
    font-weight: bold;
}