body {
    background: rgb(105,94,164);
    background: linear-gradient(
        90deg,
        rgba(105,94,164,1) 0%,
        rgba(122,122,218,1) 22%,
        rgba(154,242,224,1) 100%
    );
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgba(165, 0, 127, 0.388);
}

nav { 
    color: magenta;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav * {
    display: flex;
    margin: 16px;
}

nav .right {
    justify-content: space-between;
}

section.about h1 {
    color: pink;
}

section.about h2 {
    color: cyan;
}

section.about h3 {
    color: cyan
}

section.about {
    color: white;
}